*{
    margin: 0;
    padding 0;
}
.container{
    background-color: crimson;
    position: relative;
}
.slider{
    background-color: rgba(0,0,0,0.2);
    margin: 0px auto;
    width: 830px;
    height: 440px;
    position: relative;

}
.recommandlink{
    display: inline-block;
    height: 100%;
}
.btn{
    height: 64px;
    width: 30px;
    position: absolute;
    bottom:200px;
    z-index: 10;
}
.btn-right{
    right: 0px;
}
.btn-link{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#btn-back-left{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../img/allbtn.png") no-repeat -84px -145px;
}
#btn-back-left:hover{
    display: inline-block;
    background: url("../img/allbtn.png") no-repeat -163px -145px;
}

#btn-back-right{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../img/allbtn.png") no-repeat -117px -145px;
}
#btn-back-right:hover{
    display: inline-block;
    background: url("../img/allbtn.png") no-repeat -195px -145px;
}
.slider .bottom{
    height: 20px;
    /*background-color: rgba(0,0,0,0.2);*/
    position: relative;
    top:-25px;
    width: 100%;

}
.bottom #circle-wraaper{
    width: 200px;
    height: 20px;
    /*background-color: crimson;*/
    margin: 0 auto;
}
.controller{
    background-color: darkred;
}
.circle-item{
    border-radius: 7px;
    height: 14px;
    width: 14px;
    background-color: rgba(255,255,255,0.9);
    display: inline-block;
    margin: 0 17px;
}
.circle-item:hover{
    cursor: pointer;
}

