*{
    margin: 0;
    padding 0;
}
.container{
    background-color: crimson;
}
.slider{
    background-color: darkolivegreen;
    margin: 0px auto;
    width: 830px;
    height: 440px;
}
.recommandlink{
    display: inline-block;


}